.mission-item-large {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  align-items: center;
  margin-bottom: 8rem;
  padding: 2rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  position: relative;
}

.mission-item-large::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-green);
  z-index: -1;
}

.mission-item-large.reverse {
  grid-template-columns: 1fr 1fr;
}

.mission-item-large.reverse .mission-image {
  order: 2;
}

.mission-item-large.reverse .mission-info-text {
  order: 1;
}

.mission-image {
  background-color: var(--color-dark);
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 15px 15px 0px var(--color-yellow);
}

.mission-emoji {
  font-size: 8rem;
  filter: grayscale(1) brightness(1.5);
}

.mission-info-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: var(--color-green);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.mission-info-text p {
  font-size: 1.15rem;
  margin-bottom: 2rem;
  line-height: 1.8;
}

.mission-info-text ul li::before {
  content: '▪';
  color: var(--color-red);
}

@media (max-width: 768px) {
  .mission-item-large, .mission-item-large.reverse {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  
  .mission-item-large.reverse .mission-image {
    order: 1;
  }
  
  .mission-item-large.reverse .mission-info-text {
    order: 2;
  }
  
  .mission-image {
    height: 200px;
  }
}
